.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* En App.css */
.carousel-image {
  max-width: 100%;
  height: auto;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/public/images/Fondo(1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.multiline-text {
  white-space: pre-line;
  line-height: 40; /* Ajusta este valor según tus necesidades */
}

.favorito-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen según tus necesidades */
}



.list-favoritos-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta esto para centrar verticalmente en la altura deseada */
  display: none;
}



.list-favoritos-container.visible {
  display: block;
}



.custom-detalles {
  color: #007bff; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  padding: 4px 8px; /* Espacio interior alrededor del texto */
  border: 1px solid #007bff; /* Borde alrededor del enlace */
  border-radius: 4px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves de color y fondo */
}

.custom-link:hover {
  background-color: #007bff; /* Cambio de color de fondo al pasar el mouse */
  color: #fff; /* Cambio de color de texto al pasar el mouse */
}

.button-container {
  display: flex;
  align-items: center;
}


/*Estilo del botn de encender o apagar favoritos*/

/* Estilo del botón de encender o apagar favoritos */
.form-check-input {
  display: none; /* Oculta el input original */
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch-label {
  cursor: pointer;
  padding: 0 1rem; /* Añade espaciado alrededor del texto */
}

.switch {
  width: 40px;
  height: 20px;
  background: grey;
  border-radius: 20px;
  position: relative;
  margin-left: 5px; /* Ajusta el margen entre el texto y el switch */
}

.switch-circle {
  content: '';
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
  left: 0; /* Ajusta la posición inicial a 0 */
}

.form-check-input:checked + .switch-label + .switch .switch-circle {
  left: calc(100% - 20px);
}

.form-check-input:checked + .switch-label + .switch {
  background: #7ED957;
  transition: background 0.4s; /* Agrega una transición para suavizar el cambio de color */
}

input:checked + label {
  background: #7ED957;
  transition: background 0.4s; /* Agrega una transición para suavizar el cambio de color */
}

/* ... Otros estilos ... */


/* Estilos para los detalles del producto */
.details-container {
  margin: 20px;
}

.carousel-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilos para los detalles del producto */
.product-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de regreso */
.back-button {
  margin-top: 20px;
  text-align: center;
}

/* Agrega más estilos personalizados según tus necesidades */
/* DetallesProducto.css */
.details-container {
  margin: 20px;
}

.botoninicio-button {
  text-align: right;
  margin-top: 20px;
}

.product-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Otros estilos específicos para tu componente aquí */

/* Estilos para el contenedor de detalles */
.details-container {
  border: 1px solid #ccc; /* Añade un borde al contenedor */
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

/* Estilos para el encabezado de detalles */
.details-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* Estilos para la alineación del texto en el contenido del producto */
.product-details {
  text-align: left;
}

/* Estilos para los botones */
.btn {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

