.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* En App.css */
.carousel-image {
  max-width: 100%;
  height: auto;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/public/images/Fondo(1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.multiline-text {
  white-space: pre-line;
  line-height: 40; /* Ajusta este valor según tus necesidades */
}

.favorito-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen según tus necesidades */
}



.list-favoritos-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta esto para centrar verticalmente en la altura deseada */
}


.custom-detalles {
  color: #007bff; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  padding: 4px 8px; /* Espacio interior alrededor del texto */
  border: 1px solid #007bff; /* Borde alrededor del enlace */
  border-radius: 4px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves de color y fondo */
}

.custom-link:hover {
  background-color: #007bff; /* Cambio de color de fondo al pasar el mouse */
  color: #fff; /* Cambio de color de texto al pasar el mouse */
}

.button-container {
  display: flex;
  align-items: center;
}